@import '/src/variaveis';

.loginConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#tituloLogin {
    margin: 5.88rem 0 1rem;
    text-align: center;
    width: 14rem;
}

#linhaLogin {
    border: 1px solid $white;
    width: 15.6rem;
}

.caixaLogin {
    margin: 3.3rem 0 2.8rem;
    
    
    #subtituloLogin {
        text-align: left;
        margin-bottom: 1.75rem;
        font-size: 1rem;
    }
    
    #formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .input {
            padding-left: 0.5rem;
            position: relative;
            
            input {
                width: 16.8rem;
                height: 2.5rem;
            }

            .inputForm {
                background: $light-gray;
                border: none;
                color: #646464;
                position: relative;
            }

        }

        input:focus {
            outline: 2px solid #646464;
        }

        #email {
            margin-bottom: 1.75rem;
        }

        .detalheInput1 {
            width: 0.625rem;
            height: 100%;
            background: $grayish-violet;
            position: absolute;
            z-index: 1;
        }

        .detalheInput2 {
            width: 0.625rem;
            height: 100%;
            background: $grayish-violet;
            position: absolute;
            z-index: 1;
        }
    }

}

#botaoLogin {
    background: $light-gray;
    font-size: 1rem;
}