@import '/src/variaveis';

.loginMobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
        display: none;
    }
}

#tituloLogin {
    margin: 5.88rem 0 1rem;
    text-align: center;
    width: 14rem;
}

#linhaLogin {
    border: 1px solid $white;
    width: 15.6rem;
}

.caixaLogin {
    margin: 3.3rem 0 3.5rem;
    
    
    #subtituloLogin {
        text-align: left;
        margin-bottom: 1.31rem;
        font-size: 1rem;
    }
    
    #formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;

        .input {
            position: relative;

            div {
                width: 0.675rem;
                height: 100%;
                background: $grayish-violet;
                position: absolute;
                top: 0;
            }
            
            input {
                width: 16.8rem;
                height: 2.5rem;
            }

            .inputForm {
                background: $light-gray;
                border: none;
                color: #646464;
                padding-left: 1rem;
            }

        }

        input:focus {
            outline: 2px solid #646464;
        }
    }

}

#botaoLogin {
    background: $light-gray;
    font-size: 1rem;
    width: 11.25rem;
    height: 2rem;
    border-radius: 13.75rem;
    border: none;
    letter-spacing: -0.063rem;
}

#botaoLogin:hover {
    background: $violet;
    color: $white;
    box-shadow: 0 0px 50px 0px rgba($white, 0.3);
    border: 1px solid $grayish-violet;
}

.caixaSemConta {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 2.06rem;
    line-height: 1.2rem;

    a {
        color: $white;
    }
}

.loginWeb {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    

    @media (max-width: 768px) {
        display: none;
    }
}

.caixaMaior {
    display: flex;
    align-items: center;
    width: 66.8rem;
    height: 30.9rem;
    background: rgba(57, 14, 77, 0.46);
    border-radius: 1.25rem;

    .caixaLoginW {
        text-align: center;
        margin: auto;
        top: 0;
        right: 0;
        margin-right: 18rem;
        position: absolute;

        @media (min-width: 1100px){
            margin-right: 17.5rem;
        }

        @media (min-width: 1440px){
            margin-right: 34.5rem;
        }

        #subtituloLoginW {
            font-size: 2rem;
            letter-spacing: -0.063rem;
            margin: 5.51rem 0 5rem;
        }
        
        #formLoginW {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            .input {
                position: relative;

                input {
                    width: 16.8rem;
                    height: 2.5rem;
                }
    
                div {
                    width: 0.675rem;
                    height: 100%;
                    background: $grayish-violet;
                    position: absolute;
                    top: 0;
                }

                .inputFormW {
                    background: $light-gray;
                    border: none;
                    color: #646464;
                    padding-left: 1rem;
                    outline: none;
                }
            }
        }
    }
}

#botaoLoginW {
    background: $light-gray;
    font-size: 1rem;
    width: 11.25rem;
    height: 2.5rem;
    border-radius: 13.75rem;
    border: none;
    letter-spacing: -0.063rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 23rem 20.5rem 0 0;

    @media (min-width: 1100px){
        margin-right: 20.2rem;
    }

    @media (min-width: 1440px){
        margin-right: 37rem;
    }
}

#botaoLoginW:hover {
    background: $grayish-violet;
    color: $white;
    box-shadow: 0 0px 50px 0px rgba($white, 0.3);
    border: 1px solid $violet;
}

.caixaMenor {
    width: 34.3rem;
    height: 30.9rem;
    background: rgba(57, 14, 77, 0.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    border-radius: 1.25rem;

    img {
        position: absolute;
        top: 0;
        width: 17rem;
        height: 4.5rem;
    }

    #tituloLoginW {
        width: 15rem;
        text-align: center;
        font-size: 2rem;
    }

    #linhaLoginW {
        width: 18.6rem;
        height: 0.1rem;
        background: $white;
        margin: 1.69rem 0 3.2rem;
    }

    .caixaSemContaW {
        font-size: 0.8rem;
        text-align: center;
        line-height: 1.3rem;
        a {
            color: $white;
        }
    }
}