@import '/src/variaveis';

.menuFechado {
    height: 2.4rem;
    padding-inline: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: background 0.5s ease;

    background: $light-grayish;

    a {
        text-decoration: none;
        color: $black;
    }

    button {
        border: 0;
        background: none;
        color: $black;
    }
}

.menuAberto {
    background: $linear-bg-menu;
    transition: background 1s ease;

    button {
        border: 0;
        background: none;
        color: $white;
    }

}

.menu {
    width: 100%;
    height: calc(100vh - 2.4rem);
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    background: $light-grayish;
    position: absolute;
    z-index: 1;
    
    transition: 0.5s;


    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        
        a {
            text-decoration: none;
            color: $black;
        }

        div {
            border-top: 0.5px solid $black;
            width: 18.5rem;
        }
    }

    
}

.menu.close {
    translate: -100%;
    transition:  1s;
}

#menu-desktop {
    display: none;
}

@media (min-width: 900px) {
    #menu-mobile {
        display: none;
    }

    #menu-desktop {
        display: flex;
        background: $light-grayish;
        justify-content: center;
        align-items: center;
        height: 2.5rem;

        .logo{
            left: 0;
            position: absolute;
            margin-left: 1rem;
        }

        .linkLogin {
            right: 0;
            position: absolute;
            margin-right: 1rem;
        }

        a {
            padding-inline: 0;
            text-decoration: none;
            color: $black;
            font-size: 12px;
        }

        img {
            width: 12rem;
            height: 1.8rem;
        }

        button {
            border: none;
            background: none;
            cursor: pointer;
        }

        nav {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        a:hover {
            color: $grayish-violet;
        }
    }
}