@import '/src/variaveis';

.rodape {
    background: rgba(30, 8, 33);
    display: flex;
    justify-content: center;
    width: 100vw;
}

.ladoDireitoRodape {
    flex-direction: column;
}

.caixaTitulo {
    flex-direction: column;

    #tituloRodape {
        font-weight: 400;
        font-size: 0.68rem;
        text-transform: uppercase;
        text-align: start;
        margin: 1.56rem 1.63rem 0.44rem 1.20rem;
    }
    
    #linhaRodape {
        background: linear-gradient(90deg, #FFF 0%, #7D5F95 74.41%);
        width: 9.81rem;
        height: 0.16rem;
        margin-left: 1.20rem;
    }

}

.perfisInstagram {
    flex-direction: column;
    padding-bottom: 1rem;

    .caixaInstagram {
        

        .caixaUser {
            display: flex;
            flex-direction: row;
            margin-left: 1.20rem;
        }

        .nomeInstagram {
            font-size: 0.625rem;
            text-align: start;
            margin: 1.19rem 0.41rem 0.25rem 1.20rem;
        }

        .linkInstagram {
            border-radius: 0.31rem;
            background: $grayish-violet;
            border: none;
            width: 6.62rem;
            height: 1.06rem;
            text-align: start;
            padding-left: 0.5rem;
            color: $white;
            font-size: 0.46rem;
            margin-left: 0.5rem;
            margin-top: 0.05rem;
        }
    }
}

#divisorRodape {
    width: 0.08rem;
    height: 11rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.95rem;
    margin-left: 0.4rem;
}

.caixaDireitos {
    flex-direction: column;
    margin-right: 0.62rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 9.5rem;
        height: 2.5rem;
        margin-right: 0.5rem;
    }

    #direitos {
        font-size: 0.60rem;
        margin-left: 0.3rem;
    }
}