@import '/src/variaveis';

footer {
    height: 13.3rem;
    width: 100%;
}

.rodape {
    background: rgba(30, 8, 33);
    position: relative;
    bottom: 0;
    // left: 0;
    // right: 0;
    display: flex;
    
    z-index: 1;
    
}

#tituloRodape {
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    margin-top: 1.56rem;
    margin-left: 1.56rem;
}