@import '/src/variaveis';

#tituloComponentes {
    background: rgba($violet, 0.46);
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;

    @media (min-width: 850px){
        padding-block: 1.5rem;
        font-size: 2rem;
        background: #0000;
        margin-top: 2rem;padding-block: 1.2rem;
        font-size: 2rem;
    }

    @media (min-width: 1100px){
        padding-block: 1.5rem;
        font-size: 2.2rem;
    }
}

.caixaCarrossel {
    width: 18.8rem;
    height: 9.3rem;
    background: rgba($black, 0.49);
    border: 1px solid #4B2155;
    border-radius: 1.25rem;
    margin: 4.44rem auto 3rem;
}

.slider2, .slider3, .slider4, .slider5, .slider6 {
    display: none;
}

.slider1 {
    display: flex;
    

    img {
        width: 9.3rem;
        height: 9.3rem;
        margin-left: 1.56rem;
    }

    .elementosSlider1 {
        #textoSlider1 {
            font-size: 0.81rem;
            height: 2.1rem;
            text-align: center;
            margin: 2.81rem 0 0.19rem 0;
        }
    
        #precoSlider1 {
            background: rgba(217, 217, 217, 0.33);
            width: 4.7rem;
            height: 1.25rem;
            font-size: 0.81rem;
            border-radius: 0.31rem;
            text-align: center;
            margin-inline: auto;
            padding-top: 0.06rem;
        }
    }
}

.caixaElementos {
    align-items: center;
}

.componentesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;

    margin-inline: 3rem;
    margin-bottom: 5rem;

    #img1, #img2, #img3, #img4, #img5, #img6 {
        width: 9rem;
        height: 7.5rem;
    }
}

.navigation-wrapper {
    margin-bottom: 2.5rem;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: rgba($black, 0.49);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;

  p {
    margin-right: 5rem;
    text-align: center;
  }

  .precoSlider {
    background: rgba(217, 217, 217, 0.33);
    border-radius: 0.3125rem;
    width: 5rem;
    height: 1rem;
    margin-top: 0.5rem;
  }
}

.number-slide1 {
    img {
        height: 10.2rem;
        margin-right: 1rem;
        margin-left: 3.5rem;
    }
}

.number-slide2 {
    img {
        height: 11rem;
        margin-right: 0;
        margin-left: 3.5rem;
    }

    .precoSlider {
        margin-left: 0.6rem;
    }
}

.number-slide3 {
    img {
        height: 9.5rem;
        margin-right: 0;
        margin-left: 5rem;
    }

    p {
        margin-right: 7rem;
        text-align: left;
    }

    .precoSlider {
        text-align: center;
    }
}

.number-slide4 {
    img {
        height: 15rem;
        margin-right: 0;
        margin-left: 0;
    }

    #infos {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.2rem;
        
        p {
            margin-right: 0;
        }
    }

    #infoSlider4 {
        color: $grayish-violet;
    }
}

.number-slide5 {
    img {
        height: 10.5rem;
        margin-right: 0;
        margin-left: 3rem;
    }
}

.number-slide6 {
    img {
        height: 11rem;
        margin-right: 1.8rem;
        margin-left: 6rem;
    }

    p {
        margin-right: 7rem;
    }
}
// .number-slide2 {
//   background: rgb(255, 75, 64);
//   background: linear-gradient(
//     128deg,
//     rgba(255, 154, 63, 1) 0%,
//     rgba(255, 75, 64, 1) 100%
//   );
// }

// .number-slide3 {
//   background: rgb(182, 255, 64);
//   background: linear-gradient(
//     128deg,
//     rgba(182, 255, 64, 1) 0%,
//     rgba(63, 255, 71, 1) 100%
//   );
//   background: linear-gradient(
//     128deg,
//     rgba(189, 255, 83, 1) 0%,
//     rgba(43, 250, 82, 1) 100%
//   );
// }

// .number-slide4 {
//   background: rgb(64, 255, 242);
//   background: linear-gradient(
//     128deg,
//     rgba(64, 255, 242, 1) 0%,
//     rgba(63, 188, 255, 1) 100%
//   );
// }

// .number-slide5 {
//   background: rgb(255, 64, 156);
//   background: linear-gradient(
//     128deg,
//     rgba(255, 64, 156, 1) 0%,
//     rgba(255, 63, 63, 1) 100%
//   );
// }
// .number-slide6 {
//   background: rgb(64, 76, 255);
//   background: linear-gradient(
//     128deg,
//     rgba(64, 76, 255, 1) 0%,
//     rgba(174, 63, 255, 1) 100%
//   );
// }

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  padding: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: $black;
  cursor: pointer;
  background: $light-grayish;
  border-radius: 50%;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: $grayish-violet;
}

// [class^="number-slide"],
// [class*=" number-slide"] {
//   background: grey;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 50px;
//   color: #fff;
//   font-weight: 500;
//   height: 200px;
//   max-height: 100vh;
// }

// .number-slide1 {
//   background: rgb(64, 175, 255);
//   background: linear-gradient(
//     128deg,
//     rgba(64, 175, 255, 1) 0%,
//     rgba(63, 97, 255, 1) 100%
//   );
// }

// .number-slide2 {
//   background: rgb(255, 75, 64);
//   background: linear-gradient(
//     128deg,
//     rgba(255, 154, 63, 1) 0%,
//     rgba(255, 75, 64, 1) 100%
//   );
// }

// .number-slide3 {
//   background: rgb(182, 255, 64);
//   background: linear-gradient(
//     128deg,
//     rgba(182, 255, 64, 1) 0%,
//     rgba(63, 255, 71, 1) 100%
//   );
//   background: linear-gradient(
//     128deg,
//     rgba(189, 255, 83, 1) 0%,
//     rgba(43, 250, 82, 1) 100%
//   );
// }

// .number-slide4 {
//   background: rgb(64, 255, 242);
//   background: linear-gradient(
//     128deg,
//     rgba(64, 255, 242, 1) 0%,
//     rgba(63, 188, 255, 1) 100%
//   );
// }

// .number-slide5 {
//   background: rgb(255, 64, 156);
//   background: linear-gradient(
//     128deg,
//     rgba(255, 64, 156, 1) 0%,
//     rgba(255, 63, 63, 1) 100%
//   );
// }

// .number-slide6 {
//   background: rgb(64, 76, 255);
//   background: linear-gradient(
//     128deg,
//     rgba(64, 76, 255, 1) 0%,
//     rgba(174, 63, 255, 1) 100%
//   );
// }

// .thumbnail .keen-slider__slide {
//   font-size: 30px;
//   margin-top: 10px;
//   height: 100px;
// }
// .thumbnail .keen-slider__slide {
//   cursor: pointer;
// }
// .thumbnail .keen-slider__slide.active {
//   border: 2px dashed black;
// }