@import '/src/variaveis';

#barraNavegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.50rem;
    padding: 0 2rem;
    
    
    background: $light-grayish;
    color: $black; 
}

// nav 

// ul {
//     list-style: none;

//     li {
//         display: flex;
//         text-decoration: none;git 
//     }
// }

