@import './variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Lexend Giga', sans-serif;
}

body {
    background: $linear-bg;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $white;
    overflow-x: hidden;
}

h1 {
    font-weight: 400;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}